name: Test Use of Common Sandbox Workflow
on:
  pull_request:
    types: [closed]
    branches:
      - 'v?[0-9]+.[0-9]+'
jobs:
  call-common-workflow:
    uses: dominant-strategies/quai-cicd/.github/workflows/deploy-sandbox-common.yml@main
    with:
      needs_build: true
      install_command: "npm ci"
      cloud_deploy: false
      skip_deploy: true
    secrets:
      DOCKER: ${{ secrets.DOCKER }}
      GH_PAT: ${{ secrets.GH_PAT }}
      KUBE_CONFIG: ${{ secrets.KUBECONFIG_LOCAL }}
      BUILD_ARGS: ''
      DOCKER_BUILD_ARGS: ''
